
body {
  font-family: Arial, sans-serif;
} 
nav {
  display:flex;
  justify-content: space-between;
  background-color: blue ;
  min-height: 70px;
  padding: 0 20px;

}

.nav-logo, .nav-main, .nav-social {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  margin: 5px 20px; 
  padding: 10px;
}

.nav-main {
  flex-grow: 2; 
}

.nav-logo:hover {
  background-color: yellow;
}

.banner {
  padding: 20px;
  background-color: orange;
  display: flex;
  justify-content: center;
}

.banner-title {
  background-color: wheat;
  width: 100%;
  height:  200px;
  justify-content: center;
}

.header {
  background-color: black;
  padding: 20px;
}

.body {
  background-color: black;
  padding: 20px;
  margin-top: 20px;
}
.main-content {
  display:flex;
  justify-content: space-between;
  gap: 20px;
  flex: 1;
  background-color: indigo;
  

}

.section-left {
  flex:3;
  display:flex;
  flex-direction: column;

  
}

article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  

}



.article1, .article2, .article3, .article4 {
  background-color: rgb(0, 41, 128);
  height: 50px;
 

}

.nav-article {
  background-color: royalblue;
  height: 10px;
  margin: 20px;
 

}


aside {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;

}

.aside-publi  {
  background-color: yellow;
  margin: 10px; 
}


.footer-section {
  background-color: black;
  padding: 20px;
  margin-top: 20px;

}
footer {
  background-color: yellow;
  min-height: 70px;
  
  }


/*Medis Queries versio tauleta*/

@media (max-width: 900px) {

  body {
    background-color: rgb(14, 9, 9);
  }


  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-logo, .nav-main, .nav-social {
    width: 100%;
    margin: 10px 0;
  }

  .main-content {
    display: flex;
    flex-direction: column;
  } 


  .section-left article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  
  
  }
  
}

@media (max-width: 450px) {
 body {
  background-color: rgb(137, 103, 89);
 }

 .section-left article {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto; 
  gap: 10px;
}

}